# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

# Monorepo
!.gitkeep

# IDE
.vscode/*
!.vscode/extensions.json
.idea

.env
.dev.varsapps/backend/wrangler.jsonc
.dev.vars
